html {
    line-height: 1.5;
    color: rgb(26, 32, 44);
}

body{
	background-color: #0066b3;
	padding:10px;
}

.logo{
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 200px;
}

.slideshow {
  background-color:white;
  width:100%;
  height:100%;
  max-width: 100%;
  margin: auto;
}

.slide {
	padding:20px;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.twitter-card{
	
}

.tweet-txt{
	text-align:center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
	font-size:40px;
}

.tweet-img{
	text-align:center;
}

.tweet-img img{
	max-width: 600px;
	max-height: 400px;
}

.sponsor-img{
	text-align:center;
}

.sponsor-img img{
	max-width: 600px;
	max-height: 400px;
}

.program-hour{
	color:rgb(0, 28, 80);
	font-size: 1rem;
    line-height: 1.25;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.program-talk{
	box-shadow: rgba(32, 47, 71, 0.06) 0px 0.8125rem 0.4375rem -0.4375rem, rgba(32, 47, 71, 0.08) 0.625rem 0.25rem 0.4375rem -0.5rem, rgba(32, 47, 71, 0.08) -0.625rem 0.25rem 0.4375rem -0.5rem, rgba(32, 47, 71, 0.06) 0px 0.1875rem 0.375rem 0px, rgba(32, 47, 71, 0.04) 0px -0.25rem 0.5rem -0.125rem, rgba(32, 47, 71, 0.03) 0px 0px 0px 0.0625rem;
    background-color: rgb(255, 255, 255);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border-left: 4px solid rgb(0, 28, 80);
    border-color: rgb(0, 28, 80);
}

.program-talk .title{
	font-size: 1rem;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.program-talk .authors{
	font-size: 0.75rem;
    color: rgb(113, 128, 150);
    font-weight: 600;
    margin-bottom: 0.25rem;
}

.program-talk .room{
	display: inline-block;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(220, 229, 255);
    color: rgb(0, 64, 129);
    border-radius: 0.125rem;
}