<html lang="fr">

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js-yaml.min.js"></script>
  <link rel="stylesheet" type="text/css" href="codeurs.css">
  <meta charset="UTF-8">
</head>
<body>
	
<div id="app">
  <div class="slideshow" v-if="init">
    
    <div class="slide fade" v-show="currentSlide=='program'">
		<h3 class="programme-title">{{ program.title }}</h3>
		<h4 class="program-hour">{{ program.displayHour }}</h4>
		<div class="program-talk" v-for="talk in program.displayTalks">
			<div class="title">{{ talk.title }}</div>
			<p class="authors">{{ talk.authors }}
				<span v-for="(speaker, index) in talk.speakers">
					<span v-if="index != 0">, </span><span>{{ speaker.displayName }}</span>
				  </span>
			</p>
			<div class="room" v-if="talk.room!=null">Salle {{ talk.room }}</div>
		</div>
    </div>
    <div class="slide sponsor-slide" v-show="currentSlide=='sponsor'">
		<img class="sponsor-img" :src="sponsor.currentSponsor.logo" v-if="sponsor.currentSponsor.logo!=null" />
    </div>
	<div class="slide" v-show="currentSlide=='twitter'">
		<iframe id="twitter-iframe" src="twitter.html" width="600px" height="500px" class="twitter-iframe"></iframe>
    </div>
  </div>
  
  <img src="codeurs-en-seine-logo.png" class="logo"/>
</div>

</body>


  <script src="codeurs.js"></script>
</html>